.plugin-structpublish-banner {
    &.banner-draft {
        background-color: red;
    }
    &.banner-approved {
        background-color: yellow;
    }
    &.banner-published {
        background-color: green;
    }
}
