.plugin-structpublish-banner {

    border: 1px solid @ini_border;
    padding: 1rem;

    &.banner-draft {
        background-color: #e68e8e;
    }

    &.banner-approved {
        background-color: #eac279;
    }

    &.banner-published {
        background-color: palegreen;
    }
}
